<div class="container">
  <h1>Welcome To My Site</h1>
  <!-- <app-first></app-first> -->
  <!-- <app-trefvar></app-trefvar> -->
  <!-- <hr> -->
  <!-- <app-binding></app-binding> -->
  <!-- <app-prop-binding></app-prop-binding> -->
  <!-- <app-if-directive></app-if-directive> -->
  <!-- <app-switch-directive></app-switch-directive> -->
  <!-- <app-for-directive></app-for-directive> -->
  <!-- <app-child (childEvent)="message=$event" [parentData]="data"></app-child>
  {{message}}
  <app-pipes></app-pipes> -->
  <!-- <emp-list></emp-list>
  <emp-details></emp-details> -->
  <nav>
    <a routerLink="/departments" routerLinkActive="active">Departments</a>
    <a routerLink="/employees" routerLinkActive="active">Employees</a>
  </nav>
  <router-outlet></router-outlet>
</div>